build-aux/
autom4te.cache/
m4/

**/.deps/
**/.libs/

**/Makefile
**/Makefile.in

config.h
config.h.in

*.log
*.status
*.lo
*.la
*.trs
*.3

aclocal.m4
configure
configure~
libtool
stamp-h1

src/**.man.rst
src/**.rst
src/**/vcc_*
src/vmod_vcs_version.txt